# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

# Bancos de dados
db.sqlite3

# Bancos de dados
*.sqlite3
*.sqlite3-journal
.db.sqlite3*
